{% extends 'base.html.twig' %}

{% block title %}Comics Blog !
{% endblock %}

{% block body %}
	<div class="articles">
		{% for article in articles %}
			{% set expr = loop.index is divisible by(2) %}

			<div class="card article {{ expr ? 'bg-primary' : 'bg-secondary' }} mb-3">
				<h3 class="card-header">
					{{ article.getTitle() }}
				</h3>
				{# Image de l'article #}
				<div>
					<a href="{{ path('displayArticle', {'id': article.id}) }}"><img class="img-article" alt='{{article.getPicture().getAlt()}}' src='{{article.getPicture().getUrl()}}'/></a>
				</div>
				{# Resumé et lien vers l'article #}
				<div class="body-text">
					<p class="card-text">{{ article.getResume() }}...</p>
					<a class="{{ expr ? 'text-secondary' : 'text-primary' }}" href="{{ path('displayArticle', {'id': article.id}) }}"> Lire la suite</a>
				</div>
				{# nombre de commentaires, likes et shares #}
				<div class="body-text">
					<p class="{{ expr ? 'text-secondary' : 'text-primary' }} body-footer-first-elem">{{article.getComments.count}}
						commentaires
					</p>
					<p class="badge badge-pill badge-success body-footer-last-elem">{{article.getLiked()}} Likes
					</p>
					<p class="badge badge-pill badge-info body-footer-last-elem">{{article.getShared()}} Shares
					</p>
				</div>
				<div>
					{# Liste des categories #}
					{% for cate in article.getFakeCate() %}
						<span class="badge badge-pill {{ expr ? ' badge-secondary' : 'badge-primary' }}">{{cate}}</span>
					{% endfor %}
				</div>
				{# Date de creation et nom de l'auteur #}
				<div class="card-footer text-muted ">
					Crée le:
					{{ article.getDate() }}
					par
					{{ article.getUser().getEmail() }}
				</div>
			</div>
		{% endfor %}
	</div>
	<style>
		.articles {
			margin-top: 2em;
		}

		.article {
			width: 100%;
		}

		.img-article {
			width: 100%;
		}

		.body-text {
			display: flex;
			margin: 0 2em;
		}
		.body-text a {
			margin-left: 0.4em;
		}

		.body-first-elem {
			width: 85%;
		}

		.body-footer-first-elem {
			width: 80%
		}

		.body-footer-last-elem {
			width: 7%;
			height: 1%;
			margin-left: 1%;
		}

		.body-last-elem {
			width: 15%;
			text-align: end;

		}
		.card-header,
		.card-footer {
			text-align: center;
		}
	</style>
{% endblock %}
