<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{path('default')}}">
        <img src="/img/comics-blog.png" height="50px">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{path('default')}}">Accueil
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('apropos')}}">À propos
                    <span class="sr-only"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('contact_new')}}">Contact
                    <span class="sr-only"></span>
                </a>
            </li>
            {% if app.user and is_granted("ROLE_ADMIN") %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path('article_new')}}">Créer un article
                        <span class="sr-only"></span>
                    </a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <div class="dropdown">
                    {% if app.user %}
                        <a class="nav-link btn-lg dropdown-toggle" id="userDropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true"><i class="fas fa-sign-out-alt">&nbsp;{{ app.user.firstname ? app.user.firstname : app.user.email }}</i></a>
                        <div class="dropdown-menu" aria-labelledby="userDropdown" style="position: absolute; transform: translate3d(-35px, 40px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                            <a class="dropdown-item" href="{{ path('user_show', {'id':  app.user.id}) }}">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path("app_logout") }}"><i class="fas fa-sign-out-alt">&nbsp;Déconnexion</i></a>
                        </div>
                    {% else %}
                        <a class="nav-link btn-lg dropdown-toggle" id="unknownDropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Connexion</a>
                        <div class="dropdown-menu" aria-labelledby="unknownDropdown" style="position: absolute; transform: translate3d(-35px, 40px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                            <a class="dropdown-item" href="{{ path('app_login') }}">
                                <span><i class="fas fa-sign-in-alt">&nbsp;Connexion</i></span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{path('user_new')}}">Créer un compte
                                <span class="sr-only">(current)</span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>
