{% extends 'base.html.twig' %}


{% block title %}Comics Blog !
{% endblock %}

{% block body %}

	{# AFFICHAGE ARTICLE #}
	<div class="jumbotron">
		<div class="header-article">
			<div class=" title-header-article">
				<h1 class="display-2">{{ article.getTitle() }}</h1>
				{% for category in article.getCategories() %}
					<span class="badge badge-pill badge-primary">{{category.getName()}}</span>
				{% endfor %}
			</div>
			<div class="img-header-article">
				<img class="img-article" alt='{{article.getPicture().getAlt()}}' src='{{article.getPicture().getUrl()}}'/>
			</div>
		</div>
		<hr class="my-4">
		<div class="container-article">
			<div class="vertical-scroll-bar">
				<p>{{ article.getContent() }}</p>
			</div>
		</div>
		<hr class="my-4">
		<div class="footer-container-article">
			<div class="text-container-article">
				<span class="text-muted">{{article.getDisplayComments.count}}
					commentaires
				</span>
			</div>
			<div class="button-container-article">
				{% if  app.user != null %}
				<button type="button" class="btn btn-{{ app.user.getArticlesLiked().contains(article) ? 'success' : 'outline-danger' }} btn-footer-article btn-sm" id="btnLike">Like</button>
				<button type="button" class="btn btn-{{ app.user.getArticlesShared().contains(article) ? 'success' : 'outline-primary' }} btn-footer-article btn-sm" id="btnShare">Share</button>
				</div>
				{% endif %}
			</div>
			<div class="footer-container-article">
				<div class="text-muted text-infos-footer">
					Crée le:
					{{ article.getDate() }}
					par
					{{ article.getUser().getEmail() }}
				</div>
				<div class="badge-likes-shares">
					<span class="badge badge-pill badge-success"><span id="nbLikes">{{article.getLiked()}}</span>
						Likes</span>
					<span class="badge badge-pill badge-info"><span id="nbShares">{{article.getShared()}}</span>
						Shares</span>
				</div>
			</div>
			<div class="footer-container-article col-12">
				{% if app.user and is_granted("ROLE_ADMIN") and article.getUser().getId() == app.user.id %}
					<span>
							<a href="{{ path('article_edit', {'id': article.getId()}) }}" class="btn btn-outline-warning">Modifier</a>
						</span>
				{% endif %}
			</div>
		</div>
		<div class="back-button-container">
			<button type="button" class="btn btn-outline-info back-button">Retour</button>
		</div>
		{% if  app.user != null %}
			<div class="form-group">
				<form action="{{ path('commentArticle', {'id': article.getId()}) }}" method="post">
					<input type="text" name="user" id="user" value="{{ app.user.id }}" hidden>
					<textarea class="form-control" id="comment" name="comment" rows="3" placeholder="Entrez votre commentaire.."></textarea>
					<button type="submit" class="btn btn-primary">Envoyer</button>
				</form>
			</div>
		{% endif %}
		{# Liste des coms #}
		{% for com in article.getDisplayComments() %}
			<div class="card bg-light mb-3">
				<div class="card-header text-primary">{{ com.getAuthor().getEmail() }}</div>
				<div
					class="card-body">
					{# <small>{{ com.getDate() }}</small> #}
					<p class="card-text text-secondary">{{ com.getContent() }}</p>
				</div>
			</div>
		{% endfor %}
		<style>
			/* Article */
			.jumbotron {
				margin-top: 2em;
				border: 0.1em solid #b15315;
				padding: 2rem;
			}
			/* Header Article */
			.header-article,
			.footer-container-article {
				display: flex;
			}
			.title-article {
				text-align: center;
			}
			.title-header-article {
				width: 70%;
			}
			.img-header-article {
				width: 30%;
			}
			/* Header body */
			.container-article {
				text-align: justify;
			}
			.img-article {
				width: 100%;
			}
			/* Header footer */
			.text-container-article,
			.text-infos-footer {
				width: 80%;
			}
			.button-container-article,
			.badge-likes-shares {
				text-align: end;
				width: 20%;
			}
			.btn-footer-article {
				border-radius: 1em;
				width: 5em;

			}
			.back-button-container {
				text-align: end;
			}
			.back-button {
				margin-bottom: 1em;
				border-radius: 0.5em;
			}
			/* Commentaires */
			.commentaries {
				margin-bottom: 1em;
			}
			.card {
				border-radius: 0.7em;
			}

			.vertical-scroll-bar {
				width: 103%;
				height: 20em;
				overflow-y: scroll;
			}
			.vertical-scroll-bar p {
				margin-right: 1em;
			}
		</style>
	{% endblock %}

{% block javascripts %}

	<script>
		let idArticle = {{ article.getId() }};
		let idUser = {{ app.user.id }};

		let updateLike = function(){
			let route = "/article/"+idArticle+"/add-like/"+idUser;
			$.ajax({
				url: route,
				type: 'GET',
				success: function (data, statut) {
					$('#nbLikes').text(data);
					$('#btnLike').toggleClass('btn-outline-primary');
					$('#btnLike').toggleClass('btn-success');
				},
				error: function (resultat){
					console.error(resultat);
				}
			});
		}
		let updateShare = function(){
			let route = "/article/"+idArticle+"/add-share/"+idUser;
			$.ajax({
				url: route,
				type: 'GET',
				success: function (data, statut) {
					$('#nbShares').text(data);
					$('#btnShare').toggleClass('btn-outline-primary');
					$('#btnShare').toggleClass('btn-success');
				},
				error: function (resultat){
					console.error(resultat);
				}
			});
		}

		$('#btnLike').on('click',updateLike);
		$('#btnShare').on('click',updateShare);

	</script>
{% endblock %}
