{% extends 'base.html.twig' %}


{% block title %}Comics Blog !
{% endblock %}

{% block body %}

	{# AFFICHAGE ARTICLE #}
	<div class="jumbotron">
		<h1 class="display-3">
			{{ article.getTitle() }}
		</h1>
		<img class="img-article" alt='{{article.getPicture().getAlt()}}' src='{{article.getPicture().getUrl()}}'/>
		<hr class="my-4">
		<p>
			{{ article.getContent() }}
		</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">like</a>
		</p>
	</div>

	{# Liste des coms #}
	{% for com in article.getComments() %}
		<div class="list-group">
			<div class="list-group-item list-group-item-action flex-column align-items-start active">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">{{ com.getAuthor().getEmail() }}</h5>
					<small>{{ com.getDate() }}</small>
				</div>
				<p class="mb-1">{{ com.getContent() }}</p>

			</div>
		</div>
	{% endfor %}
    <div class="form-group">
      <label for="exampleTextarea">Entrez votre commentaire</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
		<a class="btn btn-primary btn-lg" href="#" role="button">Envoyé</a>
    </div>
	<style>
		.img-article {
			margin-left: 10em;
			width: 10em;
		}
	</style>
{% endblock %}
