{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}
{% block stylesheet %}
	<style>
		.ui-tabs-vertical {
			width: 55em;
		}
		.ui-tabs-vertical .ui-tabs-nav {
			padding: 0.2em 0.1em 0.2em 0.2em;
			float: left;
			width: 12em;
		}
		.ui-tabs-vertical .ui-tabs-nav li {
			clear: left;
			width: 100%;
			border-bottom-width: 1px !important;
			border-right-width: 0 !important;
			margin: 0 -1px 0.2em 0;
		}
		.ui-tabs-vertical .ui-tabs-nav li a {
			display: block;
		}
		.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
			padding-bottom: 0;
			padding-right: 0.1em;
			border-right-width: 1px;
		}
		.ui-tabs-vertical .ui-tabs-panel {
			padding: 1em;
			float: right;
			width: 40em;
		}
	</style>
{% endblock %}

{% block body %}
	<h1>Gestion du compte
		{{ app.user.email }}</h1>
	<div id="tabs" class="ui-tabs-panel bg-dark">
		<ul class="ui-tabs-panel bg-dark">
			{% if app.user and is_granted("ROLE_ADMIN") %}
				<li>
					<a href="#tabAdminIndex" class="ui-tabs-vertical ui-tabs-nav">Accueil</a>
				</li>
				<li>
					<a href="#tabAdminArticles" class="ui-tabs-vertical ui-tabs-nav">Articles</a>
				</li>
				<li>
					<a href="#tabAdminComments" class="ui-tabs-vertical ui-tabs-nav">Gérer les commentaires
						{%if app.user.getAllNotifications() > 0 %}
							<small style="position: relative" class="badge badge-pill badge-info">{{ user.getAllNotifications() }}</small>
						{% endif %}
					</a>
				</li>
			{% elseif app.user and is_granted("ROLE_USER") %}
				<li>
					<a href="#tabUserAccueil" class="ui-tabs-vertical ui-tabs-nav">Accueil</a>
				</li>
				<li>
					<a href="#tabUserInfoPerso" class="ui-tabs-vertical ui-tabs-nav">Informations Personnelles</a>
				</li>
				<li>
					<a href="#tabUserLikedArticles" class="ui-tabs-vertical ui-tabs-nav">Articles Aimés</a>
				</li>
				<li>
					<a href="#tabUserSharedArticles" class="ui-tabs-vertical ui-tabs-nav">Articles Partagés</a>
				</li>
				<li>
					<a href="#tabUserCommentedArticles" class="ui-tabs-vertical ui-tabs-nav">Articles Commentés</a>
				</li>
			{% endif %}
		</ul>
		{% if app.user and is_granted("ROLE_ADMIN") %}
			<div id="tabAdminIndex">
				<h2>Derniers articles</h2>
				<div class="jumbotron allArticles">
					<div class="list-group">
						{% if lastAdminArticles|length == 0 %}
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">Aucun article trouvé</h5>
							</div>
						{% else %}
							{% for article in lastAdminArticles|slice(0,5) %}
								<div class="list-group-item list-group-item-action flex-column align-items-start">
									<a href="{{ path('displayArticle', {'id': article.id}) }}"><img src="{{ article.getPicture().getUrl() }}" alt="{{article.getPicture().getAlt()}}" height="200"></a>
									<div class="d-flex w-100 justify-content-between">
										<h4 class="mb-1">{{ article.title }}</h4>
										<small>{{ article.getDate() }}</small>
									</div>
									<div>
										{# Liste des categories #}
										{% for category in article.getCategories() %}
											<span class="badge badge-pill badge-primary">{{category.getName()}}</span>
										{% endfor %}
									</div>
									<small>par
										{{ article.getUser().getEmail() }}</small>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div id="tabAdminArticles">
				<h2>Tous les articles</h2>
				<a class="btn btn-info" href="{{ path('article_new') }}">Nouveau</a>
				<div class="jumbotron writedArticles">
					<div class="list-group">
						{% if adminArticles|length == 0 %}
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">Aucun article trouvé</h5>
							</div>
						{% else %}
							<h2>{{ adminArticles.getTotalItemCount }}
								articles</h2>
							<div class="navigation">
								{{ knp_pagination_render(adminArticles,'',{'section': 1}) }}
							</div>
							{% for article in adminArticles.items %}
								<div class="list-group-item list-group-item-action flex-column align-items-start">
									<a href="{{ path('displayArticle', {'id': article.id}) }}"><img src="{{ article.getPicture().getUrl() }}" alt="{{article.getPicture().getAlt()}}" height="200"></a>
									{% if article.getUser().getId() == app.user.id and (article.getNotification()!=null and article.getNotification() >0) %}
										<a href="{{ path('user_show', {'id': app.user.id}) }}?section=2"><small style="position: absolute" class="mx-1 badge badge-pill badge-info">{{ article.notification }}
												commentaire(s) en attente de validation</small></a>
									{% endif %}
									<div class="d-flex w-100 justify-content-between">
										<h4 class="mb-1">{{ article.title }}</h4>
										<small>{{ article.getDate() }}</small>
									</div>
									<div>
										{# Liste des categories #}
										{% for category in article.getCategories() %}
											<span class="badge badge-pill badge-primary">{{category.getName()}}</span>
										{% endfor %}
									</div>
									<div>
										<small>par
											{{ article.getUser().getEmail() }}</small>
									</div>
									{% if article.getUser().getId() == app.user.id %}
									<div class="my-3">
										<a class="btn btn-warning" href="{{ path('article_edit', {'id': article.id}) }}">modifier</a>
										<a class="btn btn-danger" href="{{ path('article_delete', {'id': article.id}) }}">supprimer</a>
									</div>
									{% endif %}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div id="tabAdminComments">
				<h2>Gestion des commentaires</h2>
				<div class="jumbotron allArticles">
					<div class="list-group">
						{% if allComments|length == 0 %}
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">Aucun commentaire trouvé</h5>
							</div>
						{% else %}
							<div style="display: flex" class="mb-3">
								<h2 class="col-7">{{ allComments.getTotalItemCount }} commentaires</h2>
								<div class="sorted col-5">
									<table class="table table-borderless table-active">
										<tbody>
										<tr>
											<td>
												&and;&nbsp;{{ knp_pagination_sortable(allComments, 'Date', 'created_date') }}&or;
											</td>
											<td>
												&and;&nbsp;{{ knp_pagination_sortable(allComments, 'État', 'state') }}&or;
											</td>
											<td>
												&and;&nbsp;{{ knp_pagination_sortable(allComments, 'Article', 'article.title') }}&or;
											</td>
											<td>
												&and;&nbsp;{{ knp_pagination_sortable(allComments, 'Utilisateur', 'author.firstname') }}&or;
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="navigation">
								{{ knp_pagination_render(allComments,'',{'section': 2}) }}
							</div>
							<table class="table table-hover table-striped">
								<tbody>
									{% for comment in allComments.items %}
										<tr {% if comment.getArticle().getUser().getId() == app.user.id and comment.getState().getName() == "waiting" %}
											class="bg-primary" {% endif %}>
											<td>
												<h4 class="mb-1">{{ comment.getAuthor().getFirstName() }} a commenté</h4>
												<strong><em>{{ comment.getArticle().getTitle() }}</em></strong>
												<p class="text-muted">{{ comment.content }}</p>
											</td>
											<td style="vertical-align: middle;font-size: large;">
												<span class="{{ comment.getClassState() }}" {#id="state"#}>{{comment.getState().getName()}}</span>
											</td>
											<td style="vertical-align: middle">
												{% if comment.getState().getName() != 'approved' %}
{#													<a class="btn btn-success m-1" href="{{ path('validComment', {'comment': comment.getId()}) }}" method="post">Valider</a>#}
													<btn class="btn btn-success m-1 btnValid btnValid-{{ comment.getId() }}" {#id="btnValid-{{ comment.getId() }}"#} value="{{ comment.getId() }}">Valider</btn>
												{% endif %}
												{% if comment.getState().getName() != 'reject' %}
{#													<a class="btn btn-danger m-1" href="{{ path('rejectComment', {'comment': comment.getId()}) }}" method="post">Rejeter</a>#}
													<btn class="btn btn-danger m-1 btnReject btnReject-{{ comment.getId() }}" {#id="btnReject-{{ comment.getId() }}"#} value="{{ comment.getId() }}">Rejeter</btn>
												{% endif %}
											</td>
											<td>
												<span>{{ comment.getDate() }}</span>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% endif %}
					</div>
				</div>
			</div>
		{% elseif app.user and is_granted("ROLE_USER") %}
			<div id="tabUserAccueil" class="bg-dark">
				<h2>Tableau de bord</h2>
				<div class="jumbotron  likedArticles">
					<h3>
						Mes articles aimés</h3>
					<div class="list-group">
						{% if lastLikes|length == 0 %}
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">Vous n'avez aucun article aimé</h5>
							</div>
						{% else %}
							{% for article in lastLikes|slice(0,5) %}
								<div class="list-group-item list-group-item-action flex-column align-items-start">
									<div class="d-flex w-100 justify-content-between">
										<h5 class="mb-1">Article:
											{{ article.title }}</h5>
										{#										<small>3 days ago</small>#}
									</div>
									<p class="mb-1">{{ article.content }}</p>
									{#									<small>Donec id elit non mi porta.</small>#}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="jumbotron  sharedArticles">
					<h3>
						Mes articles partagés</h3>
					<div class="list-group">
						{% if lastShared|length == 0 %}
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">Vous n'avez aucun article Partagé</h5>
							</div>
						{% else %}
							{% for article in lastShared|slice(0,5) %}
								<div class="list-group-item list-group-item-action flex-column align-items-start">
									<div class="d-flex w-100 justify-content-between">
										<h5 class="mb-1">Article:
											{{ article.title }}</h5>
										{#									<small>3 days ago</small>#}
									</div>
									<p class="mb-1">{{ article.content }}</p>
									<small>Donec id elit non mi porta.</small>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="jumbotron commentedArticles">
					<h3>
						Mes articles commmentés</h3>
					<div class="list-group">
						{% if lastComments|length == 0 %}
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">Vous n'avez aucun article commenté</h5>
							</div>
						{% else %}
							{% for comment in lastComments|slice(0,5) %}
								<div class="list-group-item list-group-item-action flex-column align-items-start">
									<div class="d-flex w-100 justify-content-between">
										<h5 class="mb-1">Article:
											{{ comment.article.title }}</h5>
										<small>{{ comment.date }}</small>
									</div>
									<p class="mb-1">{{ comment.content }}</p>
									{#								<small><a href="{{ path() }}"></a></small>#}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div id="tabUserInfoPerso" class="bg-dark">
				<h2>Gestion des informations</h2>
				<table class="table-user table">
					<tbody>
						{{ form_start(form, {'action': path('user_update', {'id': app.user.id}), 'method': 'POST'}) }}
							<tr>
								<td>{{ form_label(form.first_name) }}</td>
								<td class="">
									<span class="{{ form.first_name.vars.id }}">{{ user.getFirstName() }}</span>
									{{ form_widget(form.first_name) }}
								</td>
								<td>
									<button type="submit" class="btn btn-success btn-save btn-save-{{ form.first_name.vars.id }}" target="{{ form.first_name.vars.id }}" hidden>Sauvegarder</button>
									<button type="button" class="btn btn-danger btn-cancel btn-cancel-{{ form.first_name.vars.id }}" target="{{ form.first_name.vars.id }}" hidden>Annuler</button>
									<button type="button" class="btn btn-outline-primary btn-user btn-user-{{ form.first_name.vars.id }}" target="{{ form.first_name.vars.id }}">Modifier</button>
								</td>
							</tr>
							<tr>
								<td>{{ form_label(form.last_name) }}</td>
								<td class="">
									<span class="{{ form.last_name.vars.id }}">{{ user.getLastName() }}</span>
									{{ form_widget(form.last_name) }}
								</td>
								<td>
									<button type="submit" class="btn btn-success btn-save btn-save-{{ form.last_name.vars.id }}" target="{{ form.last_name.vars.id }}" hidden>Sauvegarder</button>
									<button type="button" class="btn btn-danger btn-cancel btn-cancel-{{ form.last_name.vars.id }}" target="{{ form.last_name.vars.id }}" hidden>Annuler</button>
									<button type="button" class="btn btn-outline-primary btn-user btn-user-{{ form.last_name.vars.id }}" target="{{ form.last_name.vars.id }}">Modifier</button>
								</td>
							</tr>
							<tr>
								<td>{{ form_label(form.email) }}</td>
								<td class="">
									<span class="{{ form.email.vars.id }}">{{ user.getEmail() }}</span>
									{{ form_widget(form.email) }}
								</td>
								<td>
									<button type="submit" class="btn btn-success btn-save btn-save-{{ form.email.vars.id }}" target="{{ form.email.vars.id }}" hidden>Sauvegarder</button>
									<button type="button" class="btn btn-danger btn-cancel btn-cancel-{{ form.email.vars.id }}" target="{{ form.email.vars.id }}" hidden>Annuler</button>
									<button type="button" class="btn btn-outline-primary btn-user btn-user-{{ form.email.vars.id }}" target="{{ form.email.vars.id }}">Modifier</button>
								</td>
							</tr>
							<tr>
								<td>{{ form_label(form.password) }}</td>
								<td class="">
									{{ form_widget(form.password) }}
								</td>
								<td>
									<button type="submit" class="btn btn-success btn-save btn-save-{{ form.password.vars.id }}" target="{{ form.password.vars.id }}" hidden>Sauvegarder</button>
									<button type="button" class="btn btn-danger btn-cancel btn-cancel-{{ form.password.vars.id }}" target="{{ form.password.vars.id }}" hidden>Annuler</button>
									<button type="button" class="btn btn-outline-primary btn-user btn-user-{{ form.password.vars.id }}" target="{{ form.password.vars.id }}">Modifier</button>
								</td>
							</tr>
							<tr>
								<td>{{ form_label(form.phone) }}</td>
								<td class="">
									<span class="{{ form.phone.vars.id }}">{{ user.getPhone() }}</span>
									{{ form_widget(form.phone) }}
								</td>
								<td>
									<button type="submit" class="btn btn-success btn-save btn-save-{{ form.phone.vars.id }}" target="{{ form.phone.vars.id }}" hidden>Sauvegarder</button>
									<button type="button" class="btn btn-danger btn-cancel btn-cancel-{{ form.phone.vars.id }}" target="{{ form.phone.vars.id }}" hidden>Annuler</button>
									<button type="button" class="btn btn-outline-primary btn-user btn-user-{{ form.phone.vars.id }}" target="{{ form.phone.vars.id }}">Modifier</button>
								</td>
							</tr>
							<tr>
								<td><button class="btn-primary btn">{{ button_label|default('Sauvegarder') }}</button></td>
							</tr>
						{{ form_end(form) }}
					</tbody>
				</table>
			</div>
			<div id="tabUserLikedArticles">
				{% if likes|length == 0 %}
					<h2>Vous n'avez aucun article aimé</h2>
				{% else %}
					<h2>{{ likes.getTotalItemCount }}
						articles aimés</h2>
					<div class="navigation">
						{{ knp_pagination_render(likes,'',{'section': 2}) }}
					</div>
					{% for article in likes %}
						{% set expr = loop.index is divisible by(2) %}
						<div class="card article {{ expr ? 'bg-primary' : 'bg-secondary' }} mb-3">
							<h3 class="card-header">
								{{ article.getTitle() }}
							</h3>
							<div>
								<a href="{{ path('displayArticle', {'id': article.id}) }}"><img class="img-article" alt='{{article.getPicture().getAlt()}}' src='{{article.getPicture().getUrl()}}' height="200"/></a>
							</div>
							<div class="body-text">
								<p class="card-text">{{ article.getResume() }}...</p>
								<a class="{{ expr ? 'text-secondary' : 'text-primary' }}" href="{{ path('displayArticle', {'id': article.id}) }}">
									Lire la suite</a>
							</div>
							<div class="body-text">
								<p class="{{ expr ? 'text-secondary' : 'text-primary' }} body-footer-first-elem">{{article.getComments.count}}
									commentaires
								</p>
								<p class="badge badge-pill badge-success body-footer-last-elem">{{article.getLiked()}}
									Likes
								</p>
								<p class="badge badge-pill badge-info body-footer-last-elem">{{article.getShared()}}
									Shares
								</p>
							</div>
							<div>
								{# Liste des categories #}
								{% for category in article.getCategories() %}
									<span class="badge badge-pill badge-primary">{{category.getName()}}</span>
								{% endfor %}
							</div>
							{# Date de creation et nom de l'auteur #}
							<div class="card-footer text-muted ">
								Crée le:
								{{ article.getDate() }}
								par
								{{ article.getUser().getEmail() }}
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<div id="tabUserSharedArticles">
				{% if shares|length == 0 %}
					<h2>Vous n'avez aucun article partagé</h2>
				{% else %}
					<h2>{{ shares.getTotalItemCount }}
						articles partagés</h2>
					<div class="navigation">
						{{ knp_pagination_render(shares,'',{'section': 3}) }}
					</div>
					{% for article in shares %}
						{% set expr = loop.index is divisible by(2) %}
						<div class="card article {{ expr ? 'bg-primary' : 'bg-secondary' }} mb-3">
							<h3 class="card-header">
								{{ article.getTitle() }}
							</h3>
							<div>
								<a href="{{ path('displayArticle', {'id': article.id}) }}"><img class="img-article" alt='{{article.getPicture().getAlt()}}' src='{{article.getPicture().getUrl()}}' height="200"/></a>
							</div>
							<div class="body-text">
								<p class="card-text">{{ article.getResume() }}...</p>
								<a class="{{ expr ? 'text-secondary' : 'text-primary' }}" href="{{ path('displayArticle', {'id': article.id}) }}">
									Lire la suite</a>
							</div>
							<div class="body-text">
								<p class="{{ expr ? 'text-secondary' : 'text-primary' }} body-footer-first-elem">{{article.getComments.count}}
									commentaires
								</p>
								<p class="badge badge-pill badge-success body-footer-last-elem">{{article.getLiked()}}
									Likes
								</p>
								<p class="badge badge-pill badge-info body-footer-last-elem">{{article.getShared()}}
									Shares
								</p>
							</div>
							<div>
								{# Liste des categories #}
								{% for category in article.getCategories() %}
									<span class="badge badge-pill badge-primary">{{category.getName()}}</span>
								{% endfor %}
							</div>
							{# Date de creation et nom de l'auteur #}
							<div class="card-footer text-muted ">
								Crée le:
								{{ article.getDate() }}
								par
								{{ article.getUser().getEmail() }}
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<div id="tabUserCommentedArticles">
				{% if comments|length == 0 %}
					<h2>Vous n'avez aucun article commenté</h2>
				{% else %}
					<h2>{{ comments.getTotalItemCount }}
						articles commentés</h2>
					<div class="navigation">
						{{ knp_pagination_render(comments,'',{'section': 4}) }}
					</div>
					{% for comment in comments.items %}
						{% set expr = loop.index is divisible by(2) %}
						<div class="card article {{ expr ? 'bg-primary' : 'bg-secondary' }} mb-3">
							<h3 class="card-header">
								{{ comment.article.getTitle() }}
							</h3>
							<div>
								<a href="{{ path('displayArticle', {'id': comment.article.id}) }}"><img class="img-article" alt='{{comment.article.getPicture().getAlt()}}' src='{{comment.article.getPicture().getUrl()}}' height="200"/></a>
							</div>
							<div class="body-text">
								<p class="card-text">{{ comment.article.getResume() }}...</p>
								<a class="{{ expr ? 'text-secondary' : 'text-primary' }}" href="{{ path('displayArticle', {'id': comment.article.id}) }}">
									Lire la suite</a>
							</div>
							<div class="body-text">
								<p class="{{ expr ? 'text-secondary' : 'text-primary' }} body-footer-first-elem">{{comment.article.getComments.count}}
									commentaires
								</p>
								<p class="badge badge-pill badge-success body-footer-last-elem">{{comment.article.getLiked()}}
									Likes
								</p>
								<p class="badge badge-pill badge-info body-footer-last-elem">{{comment.article.getShared()}}
									Shares
								</p>
							</div>
							<div>
								{# Liste des categories #}
								{% for category in comment.article.getCategories() %}
									<span class="badge badge-pill badge-primary">{{category.getName()}}</span>
								{% endfor %}
							</div>
							{# Date de creation et nom de l'auteur #}
							<div class="card-footer text-muted ">
								Crée le:
								{{ comment.article.getDate() }}
								par
								{{ comment.article.getUser().getEmail() }}
							</div>
							<div class="card bg-light mb-3">
								<div class="card-header text-primary">{{ comment.getAuthor().getEmail() }}</div>
								<div class="card-body">
									<p class="card-text text-secondary">{{ comment.getContent() }}</p>
									<small>{{ comment.date }}</small>
								</div>
							</div>
						</div>
						<hr>
					{% endfor %}
				{% endif %}
			</div>
		{% endif %}
	</div>

{% endblock %}
{% block javascripts %}
	<script>
		$(function () {
			$("#tabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
			$("#tabs li").removeClass("ui-corner-top").addClass("ui-corner-left");
			});

		var tabParameter = GetUrlParameter('section');
		$('#tabs').tabs({active:tabParameter});

		let validComment = function(){
			let idComment = $(this).attr('value');
			let route = "/user/comment/"+idComment;
			$.ajax({
				url: route,
				type: 'GET',
				success: function (data, statut) {
					console.log(data);
					location.replace(location.pathname);
				},
				error: function (resultat){
					console.error(resultat);
				}
			});
		}
		let rejectComment = function(){
			let idComment = $(this).attr('value');
			let route = "/user/comment-delete/"+idComment;
			$.ajax({
				url: route,
				type: 'GET',
				success: function (data, statut) {
					console.log(data);
					location.replace(location.pathname);
				},
				error: function (resultat){
					console.error(resultat);
				}
			});
		}

		$('.table-user input.form-control').each(function() {
			$(this).attr('hidden', 'true');
		});

		function updateButtons(event){
			let target = $(event).attr('target');
			//gestion de l'affichage de l'input
			if ( $('#'+target).attr('hidden') == 'hidden')
				$('#'+target).removeAttr('hidden');
			else $('#'+target).attr('hidden', 'true');
			//gestion de l'affichage de du span
			if ( $('.'+target).attr('hidden') == 'hidden')
				$('.'+target).removeAttr('hidden');
			else $('.'+target).attr('hidden', 'true');
			//gestion de l'affichage du boutton save
			if ($('.btn-save-'+target).attr('hidden')  == 'hidden')
				$('.btn-save-'+target).removeAttr('hidden');
			else $('.btn-save-'+target).attr('hidden', 'true');
			//gestion de l'affichage du boutton cancel
			if ($('.btn-cancel-'+target).attr('hidden')  == 'hidden')
				$('.btn-cancel-'+target).removeAttr('hidden');
			else $('.btn-cancel-'+target).attr('hidden', 'true');
			//gestion de l'affichage du boutton modifier
			if ($('.btn-user-'+target).attr('hidden')  == 'hidden')
				$('.btn-user-'+target).removeAttr('hidden');
			else $('.btn-user-'+target).attr('hidden', 'true');

		}

		$('.table-user button.btn-save').each(function() {
			$(this).on('click', function (){
				if (!$(this).attr('hidden')){
					if ($('#{{ form.password.vars.id }}').val() == '' || $('#{{ form.password.vars.id }}').val() == null) {
						alert('Veuillez rentrer votre mot de passe pour valider la modification de vos informations');
						if ($('#{{ form.password.vars.id }}').attr('hidden')  == 'hidden')
							$('#{{ form.password.vars.id }}').removeAttr('hidden');
						else $('#{{ form.password.vars.id }}').attr('hidden', 'true');
						$('#{{ form.password.vars.id }}').focus();
					} else {
						updateButtons(this);
					}
				}
			});
		});

		$('.table-user button.btn-cancel').each(function() {
			$(this).on('click', function (){
				if (!$(this).attr('hidden')){
					updateButtons(this);
				}
			});
		});

		$('.table-user button.btn-user').each(function() {
			$(this).on('click', function (){
				if (!$(this).attr('hidden')){
					updateButtons(this);
				}
			});
		});

		$('.btnValid').on('click',validComment);
		$('.btnReject').on('click',rejectComment);
	</script>
{% endblock %}
