{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}
{% block stylesheet %}
	<style>
		.ui-tabs-vertical {
			width: 55em;
		}
		.ui-tabs-vertical .ui-tabs-nav {
			padding: 0.2em 0.1em 0.2em 0.2em;
			float: left;
			width: 12em;
		}
		.ui-tabs-vertical .ui-tabs-nav li {
			clear: left;
			width: 100%;
			border-bottom-width: 1px !important;
			border-right-width: 0 !important;
			margin: 0 -1px 0.2em 0;
		}
		.ui-tabs-vertical .ui-tabs-nav li a {
			display: block;
		}
		.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
			padding-bottom: 0;
			padding-right: 0.1em;
			border-right-width: 1px;
		}
		.ui-tabs-vertical .ui-tabs-panel {
			padding: 1em;
			float: right;
			width: 40em;
		}
	</style>
{% endblock %}

{% block body %}
	<h1>Gestion du compte
		{{ app.user.email }}</h1>
	<div id="tabs" class="ui-tabs-panel bg-dark">
		<ul class="ui-tabs-panel bg-dark">
			{% if app.user and is_granted("ROLE_ADMIN") %}
				<li>
					<a href="#tabAdminIndex" class="ui-tabs-vertical ui-tabs-nav">Accueil</a>
				</li>
				<li>
					<a href="#tabAdminArticles" class="ui-tabs-vertical ui-tabs-nav">Articles</a>
				</li>
				<li>
					<a href="#tabAdminComments" class="ui-tabs-vertical ui-tabs-nav">Gérer les commentaires</a>
				</li>
			{% elseif app.user and is_granted("ROLE_USER") %}
				<li>
					<a href="#tabUserAccueil" class="ui-tabs-vertical ui-tabs-nav">Accueil</a>
				</li>
				<li>
					<a href="#tabUserInfoPerso" class="ui-tabs-vertical ui-tabs-nav">Informations Personnelles</a>
				</li>
				<li>
					<a href="#tabUserLikedArticles" class="ui-tabs-vertical ui-tabs-nav">Articles Aimés</a>
				</li>
				<li>
					<a href="#tabUserSharedArticles" class="ui-tabs-vertical ui-tabs-nav">Articles Partagés</a>
				</li>
				<li>
					<a href="#tabUserCommentedArticles" class="ui-tabs-vertical ui-tabs-nav">Articles Commentés</a>
				</li>
			{% endif %}
		</ul>
		{% if app.user and is_granted("ROLE_ADMIN") %}
			<div id="tabAdminIndex">
				<h2>Derniers articles</h2>
				<div class="jumbotron allArticles">
					<div class="list-group">
						{% if adminArticles|length == 0 %}
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">Aucun article trouvé</h5>
							</div>
						{% else %}
							{% for article in adminArticles.items|slice(0,5) %}
								<div class="list-group-item list-group-item-action flex-column align-items-start">
									<a href="{{ path('displayArticle', {'id': article.id}) }}"><img src="{{ article.getPicture().getUrl() }}" alt="{{article.getPicture().getAlt()}}" height="200"></a>
									<div class="d-flex w-100 justify-content-between">
										<h4 class="mb-1">{{ article.title }}</h4>
										<small>{{ article.getDate() }}</small>
									</div>
									<div>
										{# Liste des categories #}
										{% for category in article.getCategories() %}
											<span class="badge badge-pill badge-primary">{{category.getName()}}</span>
										{% endfor %}
									</div>
									<small>par
										{{ article.getUser().getEmail() }}</small>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div id="tabAdminArticles">
				<h2>Tous les articles</h2>
				<a class="btn btn-info" href="{{ path('article_new') }}">Nouveau</a>
				<div class="jumbotron writedArticles">
					<div class="list-group">
						{% if adminArticles|length == 0 %}
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">Aucun article trouvé</h5>
							</div>
						{% else %}
							<h2>{{ adminArticles.getTotalItemCount }}
								articles</h2>
							<div class="navigation">
								{{ knp_pagination_render(adminArticles) }}
							</div>
							{% for article in adminArticles.items %}
								<div class="list-group-item list-group-item-action flex-column align-items-start">
									<a href="{{ path('displayArticle', {'id': article.id}) }}"><img src="{{ article.getPicture().getUrl() }}" alt="{{article.getPicture().getAlt()}}" height="200"></a>
									{% if article.getUser().getId() == app.user.id and (article.getNotification()!=null and article.getNotification() >0) %}
										<small style="position: absolute" class="mx-1 badge badge-pill badge-info">{{ article.notification }}
											commentaire(s) en attente de validation</small>
									{% endif %}
									<div class="d-flex w-100 justify-content-between">
										<h4 class="mb-1">{{ article.title }}</h4>
										<small>{{ article.getDate() }}</small>
									</div>
									<div>
										{# Liste des categories #}
										{% for category in article.getCategories() %}
											<span class="badge badge-pill badge-primary">{{category.getName()}}</span>
										{% endfor %}
									</div>
									<div>
										<small>par
											{{ article.getUser().getEmail() }}</small>
									</div>
									{% if article.getUser().getId() == app.user.id %}
									<div class="my-3">
										<a class="btn btn-warning" href="{{ path('article_edit', {'id': article.id}) }}">modifier</a>
										<a class="btn btn-danger" href="{{ path('article_delete', {'id': article.id}) }}">supprimer</a>
									</div>
									{% endif %}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div id="tabAdminComments">
				<h2>Gestion des commentaires</h2>
				<div class="jumbotron allArticles">
					<div class="list-group">
						{% if allComments|length == 0 %}
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">Aucun commentaire trouvé</h5>
							</div>
						{% else %}
							<table class="table table-hover table-striped">
								<tbody>
									{% for comment in allComments.items|slice(0,5) %}
										<tr>
											<td>
												<h4 class="mb-1">{{ comment.getAuthor().getFirstName() }} a commenté</h4>
												<strong><em>{{ comment.getArticle().getTitle() }}</em></strong>
												<p class="text-muted">{{ comment.content }}</p>
											</td>
											<td style="vertical-align: middle;font-size: large;">
												<span class="{{ comment.getClassState() }}">{{comment.getState().getName()}}</span>
											</td>
											<td style="vertical-align: middle">
												{% if comment.getState().getName() != 'approved' %}
													<a class="btn btn-success m-1" href="{{ path('validComment', {'id': comment.getId()}) }}" method="post">Valider</a>
												{% endif %}
												{% if comment.getState().getName() != 'reject' %}
													<a class="btn btn-danger m-1" href="{{ path('rejectComment', {'id': comment.getId()}) }}" method="post">Rejeter</a>
												{% endif %}
											</td>
											<td>
												<span>{{ comment.getDate() }}</span>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% endif %}
					</div>
				</div>
			</div>
		{% elseif app.user and is_granted("ROLE_USER") %}
			<div id="tabUserAccueil" class="bg-dark">
				<h2>Tableau de bord</h2>
				<div class="jumbotron  likedArticles">
					<h3>
						Mes articles aimés</h3>
					<div class="list-group">
						{% if lastLikes|length == 0 %}
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">Vous n'avez aucun article aimé</h5>
							</div>
						{% else %}
							{% for article in lastLikes|slice(0,5) %}
								<div class="list-group-item list-group-item-action flex-column align-items-start">
									<div class="d-flex w-100 justify-content-between">
										<h5 class="mb-1">Article:
											{{ article.title }}</h5>
										{#										<small>3 days ago</small>#}
									</div>
									<p class="mb-1">{{ article.content }}</p>
									{#									<small>Donec id elit non mi porta.</small>#}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="jumbotron  sharedArticles">
					<h3>
						Mes articles partagés</h3>
					<div class="list-group">
						{% if lastShared|length == 0 %}
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">Vous n'avez aucun article Partagé</h5>
							</div>
						{% else %}
							{% for article in lastShared|slice(0,5) %}
								<div class="list-group-item list-group-item-action flex-column align-items-start">
									<div class="d-flex w-100 justify-content-between">
										<h5 class="mb-1">Article:
											{{ article.title }}</h5>
										{#									<small>3 days ago</small>#}
									</div>
									<p class="mb-1">{{ article.content }}</p>
									<small>Donec id elit non mi porta.</small>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="jumbotron commentedArticles">
					<h3>
						Mes articles commmentés</h3>
					<div class="list-group">
						{% if lastComments|length == 0 %}
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">Vous n'avez aucun article commenté</h5>
							</div>
						{% else %}
							{% for comment in lastComments|slice(0,5) %}
								<div class="list-group-item list-group-item-action flex-column align-items-start">
									<div class="d-flex w-100 justify-content-between">
										<h5 class="mb-1">Article:
											{{ comment.article.title }}</h5>
										<small>{{ comment.date }}</small>
									</div>
									<p class="mb-1">{{ comment.content }}</p>
									{#								<small><a href="{{ path() }}"></a></small>#}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div id="tabUserInfoPerso" class="bg-dark">
				<h2>Gestion des informations</h2>
				<table class="table">
					<tbody>
						<tr>
							<th>Id</th>
							<td>{{ user.id }}</td>
						</tr>
						<tr>
							<th>First_name</th>
							<td>{{ user.firstName }}</td>
						</tr>
						<tr>
							<th>Last_name</th>
							<td>{{ user.lastName }}</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>{{ user.email }}</td>
						</tr>
						<tr>
							<th>Password</th>
							<td>{{ user.password }}</td>
						</tr>
						<tr>
							<th>Roles</th>
							<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						</tr>
						<tr>
							<th>Phone</th>
							<td>{{ user.phone }}</td>
						</tr>
					</tbody>
				</table>
				<a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
			</div>
			<div id="tabUserLikedArticles">
				{% if likes|length == 0 %}
					<h2>Vous n'avez aucun article aimé</h2>
				{% else %}
					<h2>{{ likes.getTotalItemCount }}
						articles aimés</h2>
					<div class="navigation">
						{{ knp_pagination_render(likes) }}
					</div>
					{% for article in likes %}
						{% set expr = loop.index is divisible by(2) %}
						<div class="card article {{ expr ? 'bg-primary' : 'bg-secondary' }} mb-3">
							<h3 class="card-header">
								{{ article.getTitle() }}
							</h3>
							<div>
								<a href="{{ path('displayArticle', {'id': article.id}) }}"><img class="img-article" alt='{{article.getPicture().getAlt()}}' src='{{article.getPicture().getUrl()}}' height="200"/></a>
							</div>
							<div class="body-text">
								<p class="card-text">{{ article.getResume() }}...</p>
								<a class="{{ expr ? 'text-secondary' : 'text-primary' }}" href="{{ path('displayArticle', {'id': article.id}) }}">
									Lire la suite</a>
							</div>
							<div class="body-text">
								<p class="{{ expr ? 'text-secondary' : 'text-primary' }} body-footer-first-elem">{{article.getComments.count}}
									commentaires
								</p>
								<p class="badge badge-pill badge-success body-footer-last-elem">{{article.getLiked()}}
									Likes
								</p>
								<p class="badge badge-pill badge-info body-footer-last-elem">{{article.getShared()}}
									Shares
								</p>
							</div>
							<div>
								{# Liste des categories #}
								{% for category in article.getCategories() %}
									<span class="badge badge-pill badge-primary">{{category.getName()}}</span>
								{% endfor %}
							</div>
							{# Date de creation et nom de l'auteur #}
							<div class="card-footer text-muted ">
								Crée le:
								{{ article.getDate() }}
								par
								{{ article.getUser().getEmail() }}
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<div id="tabUserSharedArticles">
				{% if shares|length == 0 %}
					<h2>Vous n'avez aucun article partagé</h2>
				{% else %}
					<h2>{{ shares.getTotalItemCount }}
						articles partagés</h2>
					<div class="navigation">
						{{ knp_pagination_render(shares) }}
					</div>
					{% for article in shares %}
						{% set expr = loop.index is divisible by(2) %}
						<div class="card article {{ expr ? 'bg-primary' : 'bg-secondary' }} mb-3">
							<h3 class="card-header">
								{{ article.getTitle() }}
							</h3>
							<div>
								<a href="{{ path('displayArticle', {'id': article.id}) }}"><img class="img-article" alt='{{article.getPicture().getAlt()}}' src='{{article.getPicture().getUrl()}}' height="200"/></a>
							</div>
							<div class="body-text">
								<p class="card-text">{{ article.getResume() }}...</p>
								<a class="{{ expr ? 'text-secondary' : 'text-primary' }}" href="{{ path('displayArticle', {'id': article.id}) }}">
									Lire la suite</a>
							</div>
							<div class="body-text">
								<p class="{{ expr ? 'text-secondary' : 'text-primary' }} body-footer-first-elem">{{article.getComments.count}}
									commentaires
								</p>
								<p class="badge badge-pill badge-success body-footer-last-elem">{{article.getLiked()}}
									Likes
								</p>
								<p class="badge badge-pill badge-info body-footer-last-elem">{{article.getShared()}}
									Shares
								</p>
							</div>
							<div>
								{# Liste des categories #}
								{% for category in article.getCategories() %}
									<span class="badge badge-pill badge-primary">{{category.getName()}}</span>
								{% endfor %}
							</div>
							{# Date de creation et nom de l'auteur #}
							<div class="card-footer text-muted ">
								Crée le:
								{{ article.getDate() }}
								par
								{{ article.getUser().getEmail() }}
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<div id="tabUserCommentedArticles">
				{% if comments|length == 0 %}
					<h2>Vous n'avez aucun article commenté</h2>
				{% else %}
					<h2>{{ comments.getTotalItemCount }}
						articles commentés</h2>
					<div class="navigation">
						{{ knp_pagination_render(comments) }}
					</div>
					{% for comment in comments.items %}
						{% set expr = loop.index is divisible by(2) %}
						<div class="card article {{ expr ? 'bg-primary' : 'bg-secondary' }} mb-3">
							<h3 class="card-header">
								{{ comment.article.getTitle() }}
							</h3>
							<div>
								<a href="{{ path('displayArticle', {'id': comment.article.id}) }}"><img class="img-article" alt='{{comment.article.getPicture().getAlt()}}' src='{{comment.article.getPicture().getUrl()}}' height="200"/></a>
							</div>
							<div class="body-text">
								<p class="card-text">{{ comment.article.getResume() }}...</p>
								<a class="{{ expr ? 'text-secondary' : 'text-primary' }}" href="{{ path('displayArticle', {'id': comment.article.id}) }}">
									Lire la suite</a>
							</div>
							<div class="body-text">
								<p class="{{ expr ? 'text-secondary' : 'text-primary' }} body-footer-first-elem">{{comment.article.getComments.count}}
									commentaires
								</p>
								<p class="badge badge-pill badge-success body-footer-last-elem">{{comment.article.getLiked()}}
									Likes
								</p>
								<p class="badge badge-pill badge-info body-footer-last-elem">{{comment.article.getShared()}}
									Shares
								</p>
							</div>
							<div>
								{# Liste des categories #}
								{% for category in comment.article.getCategories() %}
									<span class="badge badge-pill badge-primary">{{category.getName()}}</span>
								{% endfor %}
							</div>
							{# Date de creation et nom de l'auteur #}
							<div class="card-footer text-muted ">
								Crée le:
								{{ comment.article.getDate() }}
								par
								{{ comment.article.getUser().getEmail() }}
							</div>
							<div class="card bg-light mb-3">
								<div class="card-header text-primary">{{ comment.getAuthor().getEmail() }}</div>
								<div class="card-body">
									<p class="card-text text-secondary">{{ comment.getContent() }}</p>
									<small>{{ comment.date }}</small>
								</div>
							</div>
						</div>
						<hr>
					{% endfor %}
				{% endif %}
			</div>
		{% endif %}
	</div>

{% endblock %}
{% block javascripts %}
	<script>
		$(function () {
$("#tabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
$("#tabs li").removeClass("ui-corner-top").addClass("ui-corner-left");
});
	</script>
{% endblock %}
